.header__topmenu a {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
    color: #106a37;
}
.header__search i {
    font-size: 25px;
}

.underheader_line {
    height: 10px;
    background-color: #106a37;
    margin-bottom: 50px;
}

.banner {
    background-image: url('../images/courtesy_mad_men.jpg');
    background-size: cover;
    background-position: center;
}

.banner__content {
    background-color: rgba(0,0,0, 0.5);
    max-width: 500px;
    font-size: 18px;
    color: #ffffff;
}

.banner__content h2 {
    font-size: 3rem;
}

.top-stories row {
    position: relative;
}

.top-stories__twitter-feed {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.footer {
    background-color: #106a37;
}

.footer__topmenu a {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
    color: #ffffff;
}

.popular__item__img {
    flex-shrink: 0;
    margin-left: 20px;
}

.popular__item__img img {
    height: 70px;
}

.popular__item__title {
    line-height: 1.2;
    font-size: 14px;
}

.popular__more {
    color: #106a37;
}

.top_videos__item__img {
    flex-shrink: 0;
    margin-left: 20px;
}

.top_videos__item__img img {
    height: 70px;
}

.top_videos__item__title {
    line-height: 1.2;
    font-size: 14px;
}

.top_videos__more {
    color: #106a37;
}

.related_articles ul {
    list-style: none;
    padding: 0;
}

.share span{
    color: #37589C;
    font-size: 30px;
}

.share .fa-facebook {
    color: #37589C;
}

.share .fa-twitter {
    color: #5DA9DD;
}

.share .fa-pinterest {
    color: #CF2028;
}

.share .fa-envelope-o {
    color: #5F7287;
}

.share .fa-plus {
    color: #B0AFB0;
}

.share span {
    margin: 10px;
}

.share .fa {
    font-size: 30px;
    margin: 10px;
}

.share .fa:first-child {
    margin-left: 0;
}

.share__like {
    font-size: 20px;
    color: #37589C;
}

.article h2 {
    font-size: 48px;
    font-family: serif;
    font-weight: bold;
}

.article__date {
    color: #0474B9;
    font-weight: bold;
    font-size: 24px;
}

.article__subheader {
    font-size: 22px;
}

.article__content p {
    margin-top: 10px;
    font-size: 16px;
}

.show_comments {
    border: 3px solid #0474B9;
    cursor: pointer;
}

.show_comments span {
    font-size: 20px;
    font-weight: bold;
    color: #0474B9;
}

.more_articles span{
    background-color: #106A37;
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

.story {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.story .story__title {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.story a {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.story.all a{
    font-size: 50px;
    text-align: center;
    color: #0474B9;
}

.trending h2 {
    font-weight: bold;
    font-size: 28px;
}

.trending__item {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor: pointer;
    min-height: 365px;
    margin-bottom: 50px;
}

.trending__item .card-title {
    color: #0474B9;
    font-size: 18px;
}

.trending__item .card-title span {
    color: #322E2F;
}

.trending__item .card-body {
    padding-left: 0;
    padding-right: 0;
}

.trending__item .card-text {
    font-size: 18px;
}

.recent_stories h2 {
    font-weight: bold;
    font-size: 28px;
}

.recent_stories {
    background-color: #CFE1D7;
}

.recent_stories__item {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    min-height: 365px;
}

.recent_stories__item .card-title {
    color: #0474B9;
    font-size: 18px;
}

.recent_stories__item .card-title span {
    color: #322E2F;
}

.recent_stories__item .card-body {
    padding-left: 0;
    padding-right: 0;
}

.recent_stories__item .card-text {
    font-size: 18px;
}
